name = "tiem-truyen-nho-backend"
main = "src/index.ts"
compatibility_date = "2025-01-01"
compatibility_flags = ["nodejs_compat"]

[[d1_databases]]
binding = "DB"
database_name = "tiem-truyen-nho-db"
database_id = "3e98ac5f-46e4-4d21-8e37-fc952e6879d0" # Will be injected by platform
