name = "tiem-truyen-nho-backend"
main = "src/index.ts"
compatibility_date = "2025-01-01"
compatibility_flags = ["nodejs_compat"]

[[d1_databases]]
binding = "DB"
database_name = "tiem-truyen-nho-db"
database_id = "332ef127-ab4a-440c-b7ff-494b2d002bdd" # Will be injected by platform
