@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  line-height: 1.5;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f9fafb; /* Màu nền nhạt cho giống bản mẫu */
}
